@using SendMailPDF.Models;
@{
    Layout = "_Layout";
    var currentuser = Context.Items["UserInfo"] as CurrentUserModel;
}
<script src="~/js/host.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/js/api.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/js/common.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/js/constant.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/js/jsApp/sendpdf.js" type="text/javascript" asp-append-version="true"></script>
<link href="~/css/tablecus.css" rel="stylesheet" type="text/css" />
<div class="main-container">
    <input type="hidden" id="IdUser" name="Id" value=@currentuser.Id />
    <div class="pd-ltr-20">
        <div class="card" id="view">
            <div class="card-header bg-primary text-white" style=" font-size: 1rem; ">
                Send Mail
            </div>
            <div class="contact-directory-list">
                <div class="contact-directory-box">
                    <form id="formViewPdf" action="javascript:void(0)">
                        <div class="contact-dire-info text-center">
                            <h4>Content Email</h4>
                            <div class="form-group col-md-12">
                                <div class="form-group col-md-12 row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="padding: 15px 0px; text-align:left;">
                                        <input type="file" class="required" id="fileToImportExcelPDF" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control required" placeholder="Subject" id="Subject" aria-label="Subject" aria-describedby="basic-addon1">
                            </div>
                            <div class="form-group col-md-12" style="margin-bottom:10px">
                                <textarea placeholder="Body" class="form-control col-md-12" rows="3" id="BodyData" name="BodyData"></textarea>
                            </div>
                            <div class="modal-footer" id="footerBd">
                                <button href="javascript:void(0);" class="btn btn-info" id="sendMailBtnPDF" onclick="SendEmailPDF()" disabled>Send Mail</button>
                                <button href="javascript:void(0);" class="btn btn-secondary" onclick="ClearDataEmailPDF()">Clear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>
<script>
    $('#fileToImportExcelPDF').on('change', function () {
        if ($(this).val()) {
            $('#sendMailBtnPDF').removeAttr('disabled');
            ImportFileExcelPDF();
        } else {
            $('#sendMailBtnPDF').attr('disabled', true);
        }
    });
</script>
<script src="~/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
<script>
    CKEDITOR.replace("BodyData", {
        disableObjectResizing: true
    });
</script>
